<!DOCTYPE html>
<html lang="en">
<head>
  <title>Escola Secundária de Maximinos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<!-- The navigation menu -->
<div class="navbar">
  <a href="/">Início</a>
  <a href="/mensagem"><i class="far fa-comment"></i> Mensagem</a>
  <a href="/sobre"><i class="fas fa-award"></i> Sobre a UM</a>
  <div class="subnav">
    <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Link 1</a>
      <a href="#link2">Link 2</a>

    </div>
  </div>
  <a href="/login">Login</a>
  <a href="/registo">Registar</a>
</div>


{% block conteudo %}
{% endblock %}


<div class="footer">
  <p> Para qualquer assunto relacionado com a admissão à Academia Militar, deverá entrar em contacto com a Secção de Recrutamento e Admissão, das seguintes formas: </p>

  <p> Email: loja@academiamilitar.pt <p/>
  <p> Telefone: 213186970 ou 213186971 </p>
  <p> Morada: Rua Gomes Freire, 1169-203 - Lisboa, Portugal </p>
  &copy; Copyright 2019 Diogo Silva


</div>


</body>
</html>
