<!DOCTYPE html>
<html lang="en">
<head>
  <title>Escola Secundária de Maximinos</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<!-- The navigation menu -->
<div class="navbar">
  <a href="/">Início</a>
  <a href="/mensagem"><i class="far fa-comment"></i> Mensagem</a>
  <div class="subnav">
    <button class="subnavbtn"><i class="fas fa-award"></i> Sobre a UM</button>
    <div class="subnav-content">
      <a href="/missão">Missão</a>
      <a href="/visão">Visão</a>
      <a href="/valores">Valores</a>

    </div>
  </div>
  <a href="/login"><i class="fas fa-sign-out-alt"></i> Login</a>
  <a href="/registo"><i class="fas fa-users"></i> Registar</a>
</div>


{% block conteudo %}
{% endblock %}


<div class="footer">
  <table width="100%"><tr><td width="50%">
  <p> Para qualquer assunto relacionado com a admissão à Academia Militar, deverá entrar em contacto com a Secção de Recrutamento e Admissão, das seguintes formas: </p>
  <div class="social"><a>Sigam-nos nas nossas redes sociais!</a> <a href="https://www.facebook.com" class="fa fa-facebook fa-10x" ></a> <a href="https://www.youtube.com" class="fa fa-youtube fa-10x"></a> <a href="https://www.instagram.com" class="fa fa-instagram fa-10x"></a></div>
  </td><td align="center">
  <p> Email: loja@academiamilitar.pt <p/>
  <p> Telefone: 213186970 ou 213186971 </p>
  <p> Morada: Rua Gomes Freire, 1169-203 - Lisboa, Portugal </p>
  </td></tr></table>
  <p>&copy; Copyright 2019 Diogo Silva</p>
</div>
</body>
</html>
