{% extends 'layout.html' %}
{% block conteudo %}
<h1> Mensagem do Comandante </h1>

<img src="/static/images/MajorGeneral.jpg" width="150" alt="Italian Trulli"><br>

<h6> Major-General João Jorge Botelho Vieira Borges </h6>

<div class="texto">
<p> Em nome da Academia Militar as nossas saudações e bem-vindos à sua página oficial. </p>
<p> Funcionando desde 1790 como uma escola verdadeiramente científica destinada ao ensino superior das matérias que interessavam aos Oficiais do Exército Português, a Academia Militar vem afirmando a sua condição como escola de formação de Comandantes e como instituição de ensino superior publico universitário militar, de referência nacional e internacional. </p>
<p> Integrada no Instituto Universitário Militar, a Academia Militar caracteriza-se pela modernidade e excelência do seu ensino, formação, qualificação e investigação, em particular nos domínios de especial interesse para a segurança e defesa, alicerçada numa cultura de patriotismo, honra, ética, liderança, inovação e rigor, assim contribuindo para a consolidação da imagem e missão do Exército Português e da Guarda Nacional Republicana. </p>
<p> Convidamo-lo a, através deste site, visitar esta nossa e sua Academia, onde procurámos inserir toda a informação sobre as possibilidades e oportunidades que se oferecem aos nossos alunos, à carreira fascinante para a qual se preparam, mas também sobre o seu passado, as suas tradições e as actividades que desenvolvemos no âmbito do ensino, investigação e apoio à comunidade, que justificam a confiança renovada com que encaramos o futuro. </p>
<p> Os desafios com que todos os dias nos deparamos, implicam líderes confiantes e preparados para os aceitar e enfrentar, área na qual o sucesso da Academia tem sido amplamente reconhecido, pela qualidade com que os Oficiais do Exército e da Guarda Nacional Republicana cumprem diariamente as suas missões, aquém e além das nossas fronteiras. Somos por isso um estabelecimento militar de ensino superior universitário que justamente se orgulha das sucessivas gerações que formou. </p>
</div>
<br>
{% endblock %}

