{% extends 'layout.html' %}
{% block conteudo %}
<h1> Missão, Visão, Valores </h1>

<div class="texto">
<h4> MISSÃO </h4>
<p> A Academia Militar (AM) tem por missão formar Oficiais destinados aos quadros permanentes do Exército e da Guarda Nacional Republicana, habilitando-os ao exercício das funções que estatutariamente lhes são cometidas, conferir as competências adequadas ao cumprimento das missões do Exército e da GNR e promover o desenvolvimento individual para o exercício de funções de comando, direção e chefia. <p/>
</div>
<br>
{% endblock %}
