{% extends 'layout.html' %}
{% block conteudo %}
<h1> Missão, Visão, Valores </h1>

<div class="texto">
<h4> MISSÃO </h4>
<p> A Academia Militar (AM) tem por missão formar Oficiais destinados aos quadros permanentes do Exército e da Guarda Nacional Republicana, habilitando-os ao exercício das funções que estatutariamente lhes são cometidas, conferir as competências adequadas ao cumprimento das missões do Exército e da GNR e promover o desenvolvimento individual para o exercício de funções de comando, direção e chefia. <p/>

<h4> VISÃO </h4>
<p> Afirmar a Academia Militar como escola de formação de Comandantes e instituição de ensino superior público universitário militar de referência nacional e internacional, pela excelência e especificidade do seu ensino, investigação e serviço à comunidade, em particular nos domínios de especial interesse para a segurança e defesa, alicerçada na cultura de valores e fortalecida pelo valor que confere ao Exército, à Guarda Nacional Republicana e à Sociedade. </p>

<h4> VALORES </h4>
<p> A AM desenvolve, no âmbito da formação científica, militar e comportamental, um conjunto alargado de atividades que visam apoiar os alunos na identificação e aceitação da cultura e quadro de valores institucionalmente estabelecidos pelo Exército e pela GNR. Deste modo, pratica, incute, desenvolve e consolida nos alunos princípios intemporais específicos e indispensáveis da sua vocação, que se sistematizam nos valores que se apresentam de seguida: </p>

<li> <b> Patriotismo: </b> Sentimento de devoção, de orgulho, de entrega, de amor e de serviço à Pátria, mesmo com o sacrifício da própria vida, em linha com o lema da Academia Militar: “É doce e honroso morrer pela Pátria”. </p>  </li>

<li> <b> Honra: </b>
    Conduta virtuosa e íntegra, sustentada na nobreza, na honestidade, na dignidade, no respeito, na firmeza de caráter, na justiça e em ações moralmente corretas e dignas, defensoras da Pátria, dos Portugueses, da Constituição, do Estado de Direito Democrático, e da Instituição Militar. </p>  </li>

<li> <b> Dever: </b>
    Compromisso de servir sempre e onde for necessário, independentemente das dificuldades ou perigos mas sempre com ética, integridade e no respeito pelos direitos dos outros. </p>  </li>

<li> <b> Coragem: </b>
    Capacidade de enfrentar a adversidade ou de explorar oportunidades, na defesa de pessoas, de bens, de ideias inovadoras e de valores, mas sempre com determinação, saber e razão. </p>  </li>

<li> <b> Lealdade: </b>
    Força anímica da disciplina, consubstanciada no compromisso e na prática da verdade em todas as circunstâncias, para com os superiores, pares e subordinados, na fidelidade aos princípios éticos, elementos basilares da camaradagem. </p>  </li>

<li> <b> Segurança: </b>
    Direito fundamental e condição para que os cidadãos vivam em paz, democracia e liberdade e garante da independência, da integridade e da solidariedade da Pátria. </p>  </li>
</div>
<br>
{% endblock %}
