{% extends 'layout.html' %}
{% block conteudo %}

<div class="texto">
<h4> VISÃO </h4>
<p> Afirmar a Academia Militar como escola de formação de Comandantes e instituição de ensino superior público universitário militar de referência nacional e internacional, pela excelência e especificidade do seu ensino, investigação e serviço à comunidade, em particular nos domínios de especial interesse para a segurança e defesa, alicerçada na cultura de valores e fortalecida pelo valor que confere ao Exército, à Guarda Nacional Republicana e à Sociedade. </p>
</div>
<br>
{% endblock %}
